/* src/components/board/RightSidebar.css */
/* 이 파일 없어도 작동. 이미 각 컴포넌트 css 파일을 만들어놓아서 그런 것 같다. 코드 내용도 같기 때문에 없애도 문제 없을 듯 함(물어보고) */

.popularContainer {
  
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
   
    
    
  }
  
  .popularHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
  }
  
  .popularTitle {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .popularButtonTopRight {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.85rem;
    text-decoration: underline;
    color: #666;
  }
  
  .popularList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .popularItem {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popularItemTitle {
    font-weight: 500;
    font-size: 0.95rem;
  }
  
  .popularItemLikes {
    font-size: 0.85rem;
    color: #555;
  }
  
  .adContainer {
    background-color: #fff;
    padding: 1rem;
    border: 1px dashed #aaa;
    border-radius: 6px;
    text-align: center;
    font-size: 0.95rem;
    color: #444;
    margin-bottom: 1rem;
    
    
    
    
  }
  

  .board-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
  }