/* 기본 레이아웃 처리 */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 120%; */
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("/background2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 스크롤해도 배경 고정 */
  overflow-x: hidden;
  font-family: 'GmarketSans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  /* max-width: 1280px;  <- 이 부분 제거 */
}

/* Container.jsx의 main이 중간 콘텐츠 공간을 차지하도록 */
main {
  flex: 1;
  min-height: 100vh;
  padding: 1rem;
  /* ❌ 배경은 body에 주었기 때문에 제거 */
  /* background-image: url("/background2.png"); */
  box-sizing: border-box;
}


body {
  overflow-x: hidden; /* 수평 스크롤 숨기기 */
}

